@import compass/reset
@import compass/utilities
@import compass/css3
@import compass/typography
@import queries

$bg: #313334
$text: #c1c6c7
$icon: #313334
$top: #747c7e
$bottom: #3c3f40

+font-face("Symbols", font-files("Icons.woff", "Icons.svg", "Icons.eot"))

@mixin symbols
  font-family: "Symbols"
  font-weight: normal

*
  margin: 0
  padding: 0

body
  background: $bg
  color: $text
  font-family: "Helvetica Neue", sans-serif
  font-weight: normal

header
  text-align: center
  padding: 20px 0
  background-size: 150%, 100%
  background-position: center
  background-image: url(../images/header.png)

  img
    max-width: 20%
    width: 50px

nav
  background: darken($bottom, 30%)
  +display-box
  +box-orient(horizontal)
  +box-align(stretch)
  a
    display: block
    +box-flex(1)
    +symbols
    font-size: 40px
    text-align: center
    color: $icon
    padding: 15px 0
    text-decoration: none
    +background(linear-gradient($top 0%, $bottom 90%))
    text-shadow: 0 1px lighten($top, 3%)
    +box-shadow(0px 5px 5px #000)
    
    &:nth-child(4n+4)
      margin-right: 0 !important

    &:active
      +background(linear-gradient(#404445 0%, #3c3f40 90%))
      +box-shadow(none)

    &.fire:hover
      color: #fcc1b4
      text-shadow: 0 0 5px #fcc1b4, 0px 1px #ed8e6e

      div
        color: #ed8e6e
        text-shadow: 0 0 5px #fcc1b4

    &.ice:hover
      color: #82dcf0
      text-shadow: 0 0 5px #82dcf0, 0px 1px #4c98d4

      div
        color: #4c98d4
        text-shadow: 0 0 5px #82dcf0

    &.record:hover
      color: #fc3c23
      text-shadow: 0 0 5px #fc3c23, 0px 1px #ce2616

      div
        color: #f44f52
        text-shadow: 0 0 5px #fd5f44

    &.play:hover
      color: #56fc3a
      text-shadow: 0 0 5px #35d628

      div
        color: #a9f45a
        text-shadow: 0 0 5px #55f939

#swatch
  width: 100%

.clear
  display: block
  visibility: hidden
  clear: both
  height: 0
  content:  "."
