html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Symbols";
  src: url('../fonts/Icons.woff') format('woff'), url('../fonts/Icons.svg') format('svg'), url('../fonts/Icons.eot') format('embedded-opentype');
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #313334;
  color: #c1c6c7;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: normal;
}

header {
  text-align: center;
  padding: 20px 0;
  background-size: 150%, 100%;
  background-position: center;
  background-image: url(../images/header.png);
}
header img {
  max-width: 20%;
  width: 50px;
}

nav {
  background: black;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
}
nav a {
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  font-family: "Symbols";
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  color: #313334;
  padding: 15px 0;
  text-decoration: none;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #747c7e), color-stop(90%, #3c3f40));
  background: -webkit-linear-gradient(#747c7e 0%, #3c3f40 90%);
  background: -moz-linear-gradient(#747c7e 0%, #3c3f40 90%);
  background: -o-linear-gradient(#747c7e 0%, #3c3f40 90%);
  background: linear-gradient(#747c7e 0%, #3c3f40 90%);
  text-shadow: 0 1px #7b8486;
  -webkit-box-shadow: 0px 5px 5px black;
  -moz-box-shadow: 0px 5px 5px black;
  box-shadow: 0px 5px 5px black;
}
nav a:nth-child(4n+4) {
  margin-right: 0 !important;
}
nav a:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #404445), color-stop(90%, #3c3f40));
  background: -webkit-linear-gradient(#404445 0%, #3c3f40 90%);
  background: -moz-linear-gradient(#404445 0%, #3c3f40 90%);
  background: -o-linear-gradient(#404445 0%, #3c3f40 90%);
  background: linear-gradient(#404445 0%, #3c3f40 90%);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
nav a.fire:hover {
  color: #fcc1b4;
  text-shadow: 0 0 5px #fcc1b4, 0px 1px #ed8e6e;
}
nav a.fire:hover div {
  color: #ed8e6e;
  text-shadow: 0 0 5px #fcc1b4;
}
nav a.ice:hover {
  color: #82dcf0;
  text-shadow: 0 0 5px #82dcf0, 0px 1px #4c98d4;
}
nav a.ice:hover div {
  color: #4c98d4;
  text-shadow: 0 0 5px #82dcf0;
}
nav a.record:hover {
  color: #fc3c23;
  text-shadow: 0 0 5px #fc3c23, 0px 1px #ce2616;
}
nav a.record:hover div {
  color: #f44f52;
  text-shadow: 0 0 5px #fd5f44;
}
nav a.play:hover {
  color: #56fc3a;
  text-shadow: 0 0 5px #35d628;
}
nav a.play:hover div {
  color: #a9f45a;
  text-shadow: 0 0 5px #55f939;
}

#swatch {
  width: 100%;
}

.clear {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ".";
}
