* {
  margin: 0px;
  padding: 0px;

  border-radius: 5px;
}

#main {
  width: 256px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;

  border-width: 1px;
}

#canvas {
  width: 256px;
  height: 256px;
}

#color, button {
  display: block;
  width: 256px;
}

#color {
  height: 50px;
}

button {
  height: 25px;
  margin-top: 3px;
}
